# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
.Python
dist/
build/
*.egg-info/

# Testing / Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
logs/
*.log
*.out
*.err

# Editor and IDE specific files
.vscode/
.idea/
*.swp
*~
.DS_Store
